/* ==========================================================================
   General
   ========================================================================== */ 
   
@import url(https://fonts.googleapis.com/css?family=Telex);

body {
	font-family: 'Telex', sans-serif;
	letter-spacing: -1px;
	font-weight: 
}

.wrap {
	margin: 0 auto;
	padding: 25px;
	overflow: hidden;
	color: #fff;
	font-size: 17px;
	line-height: 130%;
	max-width: 320px;	
	text-align: center;
}

	.wrap a {
		text-decoration: none;
		color: #fff;
		display: inline-block;
		border-bottom: 1px solid #fff;
		border-color: rgba(255,255,255,0.6);
		-webkit-transition: 0.3s all ease;
		   -moz-transition: 0.3s all ease;
		    -ms-transition: 0.3s all ease;
		     -o-transition: 0.3s all ease;
		        transition: 0.3s all ease;	
	}
		.wrap a:hover {
			text-decoration: none;
			border-color: #fff;
		}

	.wrap p {
		line-height: 120%;
	}

/* ==========================================================================
   Header
   ========================================================================== */	

header {
	overflow: hidden;
}
	header h1 {
		color: #777;
		font-size: 30px;
		margin-bottom: 10px;
		line-height: 100%;
		font-weight: bold;
	}

	header h2 {
		color: #999;
		font-size: 20px;
		margin: 0;
		font-weight: normal;
	}

	header .face {
		margin: 0 auto;
		display: block;
		width: 200px;
		height: 200px;
		border-radius: 100%;
	}

/* ==========================================================================
   About
   ========================================================================== */

#about {
	background: #ffa500;
}
	#about p {
		line-height: 150%;
	}

/* ==========================================================================
   Worked with
   ========================================================================== */

#worked-with .wrap {
	color: #666;
}
	.companies {
		margin-left: -20px;
		margin-right: -20px;
		display: table;
	}
	.companies img {
		margin: 20px;
		width: 30%;
		opacity: 0.6;
		transition: 0.3s all ease;
		vertical-align: middle;
	}
		.companies img:hover {
			opacity: 1;
		}

/* ==========================================================================
   Find me
   ========================================================================== */

#find-me {
	background: #00C086;
}

/* ==========================================================================
   Contact
   ========================================================================== */

#contact {
	background: #016BBC;
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media screen and (min-width: 768px) {
	.wrap {
		max-width: 730px;
		padding: 40px;
		font-size: 44px;
	}
		.wrap a {
			border-bottom-width: 3px;
		}

	header {
		text-align: right;
	}

		header h1 {
			font-size: 50px;
			margin-top: 53px;
			margin-bottom: 0;
		}

		header h2 {
			font-size: 40px;
		}

		header .face {
			float: left;
		}

	.companies {
		margin-left: -25px;
		margin-right: -25px;
	}
		.companies img {
			margin: 25px;
			width: auto;
		}

	#about p {
		text-align: left;
	}
}